# Ignore .DS_Store files
.DS_Store

# Ignore node_modules directory in any folder
client/node_modules/

# Ignore .next folder
client/.next/

# Ignore Python bytecode files
backend/__pycache__/

# Ignore virtual environment
.venv/